@mixin product-pseudo-element($deltaY: 0) {
  content: '';
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% + $deltaY));

  width: 100%;
  height: 100%;
  display: block;

  max-width: 200px;
  max-height: 200px;

  border-radius: 50%;
}

/**
  |============================
  | ice-cream
  |============================
*/
.products__item--green::before {
  @include product-pseudo-element(4px);
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__item--green::after {
  @include product-pseudo-element(-8px);
  background-image: url('../../images/products/ice-cream.jpg');
}

/**
  |============================
  | ice-coffee
  |============================
*/
.products__item--yellow::before {
  @include product-pseudo-element(4px);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__item--yellow::after {
  @include product-pseudo-element(-8px);
  background-image: url('../../images/products/ice-coffee.jpg');
}

/**
  |============================
  | ice-milkshakes
  |============================
*/
.products__item--cocktail::before {
  @include product-pseudo-element(4px);
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__item--cocktail::after {
  @include product-pseudo-element(-8px);
  background-image: url('../../images/products/ice-milkshakes.jpg');
}