.header__section {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__container {
  @include container();

  display: flex;
  align-items: center;

  background-color: var(--background-green);

  padding-top: 12px;
  padding-bottom: 0;

  @include mq(tab) {
    padding-top: 20px;
    padding-bottom: 0;
  }

  @include mq(desk) {
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.logo__img {
  // TODO ПЕреробити зображення
  @include img();
  width: 41px;

  @include mq(tab) {
    width: 48px;
  }

  @include mq(desk) {
    width: 60px;
  }
}

.header__nav {
  display: none;

  @include mq(desk) {
    display: block;
    margin-left: 270px;
  }
}

.nav__list {
  @include list();
  display: flex;
  gap: 27px;
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: var(--text-color-second);

  &:hover,
  &:focus {
    color: var(--color-accent);
    // TODO переробити курсор
    // @include cursor(our);
  }
}

.header__wrap-btn {
  margin-left: auto;
  align-items: center;
  display: flex;
  gap: 32px;
}

.header__btn-mobile-menu {
  @include btn-common();

  background-color: inherit;
  width: 32px;
  height: 32px;

  @include mq(desk) {
    display: none;
  }
}

.header__icon-open-menu {
  stroke: var(--white-primary);
  display: block;
}

.header__btn {
  display: none;
  @include btn-by();

  @include mq(tab) {
    display: block;
  }
}