.about__container {
  position: relative;

  @include container();

  padding-left: 55px;
  padding-right: 55px;

  padding-bottom: 0;
  background-color: var(--background-green-about);
  color: var(--text-color-second);
}

.about__layble {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}

.about__title {
  @include title-section();


  text-align: center;
  margin-top: 12px;
}

.about__texts {
  margin-top: 372px;

  font-size: 12px;
  line-height: 1.76;

  text-align: center;
}

.about__text:not(:first-child) {
  margin-bottom: 4px;
}

.about__btn {
  @include btn-read();
  display: block;

  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

@import './section-about-img';