body {
  font-family: 'montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: getColor('text-primary');
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.no-scroll {
  overflow: hidden;
  overflow-y: hidden;
}

* {
  outline: 1px solid red;
}