@mixin img() {
  display: block;
  max-width: 100%;
}

@mixin list() {
  padding: 0;
  margin: 0;

  list-style: none;
}

@mixin link() {
  text-decoration: none;
}

@mixin visually-hidden() {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}



@mixin title-section() {
  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.27;

  @include mq(tab) {
    font-size: 34px;
    line-height: 1.26;
  }

  @include mq(desk) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

@mixin cursor($type: 'hover') {
  @if $type =='hover' {
    cursor: pointer;
  }

  @if $type =='our' {
    // cursor: url('../../images/cursor.svg') 24 0, auto;
    cursor: url('../../images/cursor.svg'), auto;
  }
}