/**
  |============================
  | 

84A178 - green bacground
0A8817 - green button

  |============================
*/


/**
  |============================
  | Colors
  |============================
*/
:root {
  --text-color-primary: #131313;
  --text-color-second: #FCFCFC;
  --text-color-spicial: #ABABAB;

  --text-adress: #D6936D;
  --text-copied: #7A7A7A;

  --color-accent: #F8D24E;
  --white-primary: #FFFFFF;
  --black-primary: #000000;

  --background-green: #84A278;
  --background-green-about: #84A178;
  --background-card-green: #AEC6A5;
  --background-card-yellow: #EFD478;
  --background-card-cocktail: #D6936D;

  --green-btn: #0A8817;


}



/**
  |============================
  | Paddings
  |============================
*/
$padding-section-h-mobile: 20px;
$padding-section-h-tablet: 32px;
$padding-section-h-desk: 16px;

$padding-section-v: 60px;